# Learn Python for Data Science with Mehul Mehta

# How to learn Data Science and become a Data Scientist ?

Most aspiring data scientists begin to learn Python by taking programming courses meant for developers. They also start solving Python programming riddles on websites like LeetCode with an assumption that they have to get good at programming concepts before starting to analyzing data using Python.

This is a huge mistake because data scientists use Python for retrieving, cleaning, visualizing and building models; and not for developing software applications. Therefore, you have to focus most of your time in learning the modules and libraries in Python to perform these tasks.

# Step by Step procedure of learning Data Science

Step1: Learn the basics of Python

Step2: Learn libraries that are used in Data Science. Eg: Numpy, Pandas, Matplotlib, Seaborn etc.

Step3: Learn basic of Statistics.

Step4: Perform Machine Learning Algorithms using Scikit-Learn

Step5: Practice your knowledge using datases.

# Different data types used in Python

This notebook will just go through the basic topics in order:

Data types
1. Numbers
2. Strings
3. Lists
4. Tuple
5. Dictionaries
6. Booleans
7. Sets

# 1. Numbers

A number is any representation of data which has a numeric value. Python identifies three types of numbers:

Integer: Positive or negative whole numbers (without a fractional part). For example: 21, 4, 0, and −2048 are integers.

Float: Any real number with a floating point representation in which a fractional component is denoted by a decimal symbol or scientific notation. For example 21.50, 4.23, −20.48 are Float.

Complex number: A number with a real and imaginary component represented as x+yj. x and y are floats and j is -1(square root of -1 called an imaginary number). For example 2.0 + 3.0j is an integers

### Numbers

In [34]:
a = 5

In [36]:
a

5

In [3]:
type(a)

int

In [4]:
b = 2.4
b

2.4

In [5]:
type(b)

float

In [1]:
c = 2 + 3j
c

(2+3j)

In [3]:
c.real

2.0

In [4]:
c.imag

3.0

In [7]:
type(c)

complex

In [37]:
#Addition
1+2

3

In [38]:
#Subtraction
5-1

4

In [10]:
#Division
5/3

1.6666666666666667

In [39]:
#Multiplication
5*2

10

# 2. String

String: A string value is a collection of one or more characters put in single, double or triple quotes. Strings are immutable. This means that once defined, they cannot be changed.

Example:

In [42]:
A = 'xyz'
A

'xyz'

In [44]:
A[2]

'z'

In [46]:
A[2] = 'O'

TypeError: 'str' object does not support item assignment

In [48]:
A = 'xyz'
A = 'abc'
A

'abc'

In [52]:
A = 'd'
A

'd'

In [53]:
type(A)

str

In [55]:
A = 'George is going to the school'
A

'George is going to the school'

In [61]:
B = "George can't go to the school"
B

"George can't go to the school"

In [62]:
C = """Welcome to "Python Tutorial". Let's learn Data Science"""
C

'Welcome to "Python Tutorial". Let\'s learn Data Science'


# 3. List

A list object is an ordered collection of one or more data items, not necessarily of the same type, put in square brackets.

In [19]:
X = [1,4,5]
X

[1, 4, 5]

In [20]:
type(X)

list

In [12]:
R = ['NOKIA', 'BLACKBERRY','APPLE']
R

['NOKIA', 'BLACKBERRY', 'APPLE']

In [21]:
Y = ['hi',1,[1,2]]
Y

['hi', 1, [1, 2]]

In [22]:
Z = ['a','b','c']
Z

['a', 'b', 'c']

In [23]:
Z[0] = 'X'

In [24]:
Z

['X', 'b', 'c']

In [13]:
U = [1,2,3,4,5]
U[0]

1

In [14]:
U[2]

3

In [16]:
U[0:4]

[1, 2, 3, 4]

In [19]:
U[0:4:2]

[1, 3]

In [20]:
U[-1]

5

In [25]:
U[-5:-1]

[1, 2, 3, 4]

In [27]:
U[-5:-1:2]

[1, 3]

# 4. Tuple

A Tuple object is an ordered collection of one or more data items, not necessarily of the same type, put in parentheses ().

In [13]:
t = (13,12,123,4,17, 'hi','hello', [1,2])

In [32]:
t

(13, 12, 123, 4, 17, 'hi', 'hello', [1, 2])

In [18]:
t[0]

13

In [4]:
t[0] = 5

TypeError: 'tuple' object does not support item assignment

In [19]:
t

(13, 12, 123, 4, 17, 'hi', 'hello', [1, 2])

In [25]:
t[0:7:3]

(13, 4, 'hello')

In [7]:
t = ('hi', 'abc', 'xyz', 1, 988, 100)
t

('hi', 'abc', 'xyz', 1, 988, 100)

In [8]:
#Gives Inbuilt function for Tuple.
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [9]:
A = [56, 7, 22,3]
A

[56, 7, 22, 3]

In [10]:
#Gives Inbuilt function for List
dir(A)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [27]:
A = [1,2,3,4]
A

[1, 2, 3, 4]

In [28]:
A[0]

1

In [29]:
A[0] = 5

In [30]:
A

[5, 2, 3, 4]

In [12]:
A

[56, 7, 22]

### Difference between Tuple and List

1. The main difference between lists and tuples is the fact that lists are mutable whereas tuples are immutable.
2. Syntax of list and tuple is slightly different. Lists are surrounded by square brackets [] and Tuples are surrounded by parenthesis ().
3. Lists has more builtin function than that of tuple. We can use dir([object]) inbuilt function to get all the associated functions for list and tuple.

# 5. Dictionary

A dictionary object is an unordered collection of data in a key:value pair form. A collection of such pairs is enclosed in curly brackets. 

d = {'key1':'value1','key2':'value2'}

In [2]:
d = {'beautiful':"Nice Looking", 'Shopping':"To Buy", 'Playing': "Engage in Activity"}
d

{'beautiful': 'Nice Looking',
 'Shopping': 'To Buy',
 'Playing': 'Engage in Activity'}

In [3]:
d.keys()

dict_keys(['beautiful', 'Shopping', 'Playing'])

In [4]:
d.values()

dict_values(['Nice Looking', 'To Buy', 'Engage in Activity'])

In [5]:
d.items()

dict_items([('beautiful', 'Nice Looking'), ('Shopping', 'To Buy'), ('Playing', 'Engage in Activity')])

In [6]:
d['beautiful']

'Nice Looking'

In [7]:
d

{'beautiful': 'Nice Looking',
 'Shopping': 'To Buy',
 'Playing': 'Engage in Activity'}

In [9]:
d['beautiful'] = 'Great Looking'

In [10]:
d

{'beautiful': 'Great Looking',
 'Shopping': 'To Buy',
 'Playing': 'Engage in Activity'}

# 6. Boolean

Data with one of two built-in values True or False. Notice that 'T' and 'F' are capital. true and false are not valid booleans and Python will throw an error for them.

In [58]:
X = 1
Y = X>4
Z = X<4

In [59]:
X

1

In [60]:
Y

False

In [61]:
type(Y)

bool

In [62]:
Z

True

In [63]:
type(Z)

bool

In [53]:
#Numeric Value of True is 1 and False is 0
True + True

2

In [49]:
True + False

1

In [50]:
False + False

0

In [51]:
true + false

NameError: name 'true' is not defined

In [52]:
true + true

NameError: name 'true' is not defined

# 7. Set

A set object contains one or more items, not necessarily of the same type, which are separated by comma and enclosed in curly brackets {}.

A set doesn't store duplicate objects. Even if an object is added more than once inside the curly brackets, only one copy is held in the set object.

In [66]:
X = {1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2,'hi','hi'}
X

{1, 2, 3, 'hi'}

In [68]:
type(X)

set

In [79]:
Y = {3,5,6,7,7}
Y

{3, 5, 6, 7}

### Set do not support indexing and slicing.

In [81]:
Y[0]

TypeError: 'set' object is not subscriptable

In [80]:
Y[0] = 5

TypeError: 'set' object does not support item assignment

## THANK YOU !!